Add support for TLS_AES_128_CCM_SHA256 cipher suit

Description

We would like to request support for the TLS_AES_128_CCM_SHA256 cipher suite in Envoy. This cipher suite is part of the TLS 1.3 specification (RFC 8446) and provides authenticated encryption with CCM (Counter with CBC-MAC) mode and SHA-256 as the hash function.

Background

TLS_AES_128_CCM_SHA256 is defined in [RFC 8446 Section 9.1](https://datatracker.ietf.org/doc/html/rfc8446#section-9.1) as one of the mandatory-to-implement cipher suites for TLS 1.3. It is particularly important for environments where hardware acceleration for CCM is available, or where AES-GCM is not preferred due to regulatory or hardware constraints.



Current Behavior

Currently, Envoy supports a set of TLS 1.3 cipher suites, but it appears that TLS_AES_128_CCM_SHA256 is not among the supported options. Attempting to configure this cipher suite results in a configuration error or fallback to default suites.

Desired Behavior

Envoy should support TLS_AES_128_CCM_SHA256 as a selectable cipher suite for TLS 1.3, aligning with the complete set of mandatory-to-implement suites described in RFC 8446.



Would you consider adding support for this cipher suite, or is there a known reason for its omission?

Thank you!

I see in test that this cipher is [mentioned](https://github.com/envoyproxy/envoy/blob/68998d38e5b084aa2af657bba1bed873f9de270f/test/extensions/filters/listener/tls_inspector/tls_inspector_test.cc#L808). What error do you get , and what configuration do you pass? What version are you using of Envoy?

@DieBauer We are using istio 1.26 which uses envoy 1.34 as its data plane proxy. When we configure proxy to use TLS_AES_128_CCM_SHA256 cipher suit, the proxy container fails to start. Once TLS_AES_128_CCM_SHA256 is removed from the list of cipher suits, the container stats without issues. 

> TLS_AES_128_CCM_SHA256 is defined in [RFC 8446 Section 9.1](https://datatracker.ietf.org/doc/html/rfc8446#section-9.1) as one of the mandatory-to-implement cipher suites for TLS 1.3.

That's not what the linked section says. The RFC states:

> In the absence of an application profile standard specifying
   otherwise:
>
>   A TLS-compliant application MUST implement the TLS_AES_128_GCM_SHA256
   [[GCM](https://datatracker.ietf.org/doc/html/rfc8446#ref-GCM)] cipher suite and SHOULD implement the TLS_AES_256_GCM_SHA384
   [[GCM](https://datatracker.ietf.org/doc/html/rfc8446#ref-GCM)] and TLS_CHACHA20_POLY1305_SHA256 [[RFC8439](https://datatracker.ietf.org/doc/html/rfc8439)] cipher suites (see
   [Appendix B.4](https://datatracker.ietf.org/doc/html/rfc8446#appendix-B.4)).

Envoy uses BoringSSL for TLS, and we only support cipher-suites supported in BoringSSL; we don't have the ability to add new ones. You could request support from BoringSSL at https://issues.chromium.org/issues?q=componentid:1590116%2B%20is:open.

And what @DieBauer said is correct: you cannot configure the TLSv1.3 cipher suites; they're selected automatically with no configuration.

> A simple test shows that the ciphers for TLS1.3 are supported by default.
> 
> for c in $(openssl ciphers -s -tls1_3 | tr ':' ' '); do
>   echo "Testing $c"
>   openssl s_client -connect localhost:10000 -ciphersuites $c < /dev/null 2>&1 | grep -q "Cipher is $c" && echo "ACCEPTED" || echo "REJECTED"
> done
> gives
> 
> ```
> Testing TLS_AES_256_GCM_SHA384
> ACCEPTED
> Testing TLS_CHACHA20_POLY1305_SHA256
> ACCEPTED
> Testing TLS_AES_128_GCM_SHA256
> ACCEPTED
> ```

@DieBauer I have tried a similar test and I have got the exact same output. When I try it with TLS_AES_128_CCM_SHA256 cipher, the output is

`New, (NONE), Cipher is (NONE)`

Does this mean that TLS_AES_128_CCM_SHA256 is not supported by envoy 1.34. 

To add up I have been checking the [ test case ](https://github.com/envoyproxy/envoy/blob/68998d38e5b084aa2af657bba1bed873f9de270f/test/extensions/filters/listener/tls_inspector/tls_inspector_test.cc#L808). But this doesn't belong to envoy 1.34 branch right? Is my understanding wrong here?

The linked change is in the tls-inspector, which is simply observing/recording fields in the client hello, but is not part of the TLS handshake; inclusion there does not mean Envoy supports this cipher. As you noted, I don't think BoringSSL has support for this cipher, and thus Envoy doesn't either.

@ggreenway Thank You for your insights. I have raised an issue with BoringSSL https://issues.chromium.org/issues/431021046 

As the boringssl issue was closed as won't fix, I'm closing this issue also, as there's no further action to take in Envoy.