CacheFilter: Fully parse and handle request and response cache-control

The cache-control header ([RFC7234§5.2](https://httpwg.org/specs/rfc7234.html#header.cache-control)) supports a long list of directives, all of which need to be understood by CacheFilter (#7198). Currently, CacheFilter only parses and handles the _private_, _no-cache_, _max-age_, and _s-maxage_ response directives, and ignores the rest. Some directives (_max-stale_, _min-fresh_, _no-transform_, _only-if-cached_, _must-revalidate_, _public_, _proxy-revalidate_), cause no harm (other than missed caching opportunities) if ignored. Others (_max-age_ and _no-cache_ request directives, and _no-store_ request/response directive) can cause incorrect results to be served, and thus must be handled before CacheFilter can be generally usable with production traffic.

Current parsing code is in extensions/filters/http/cache/http_cache_utils.cc and cache_filter.cc.
