IPv6 Host format is not validated before it is propagated to :authority

Hello everyone.
I have noticed that in IPv6, when Envoy translates a request to HTTP2 , Envoy does not seem to check and verify the host address format before propagating the value to the :authority pseudo-header.
Host addresses like "2001:db8::2:1:443" (it does not adhere to the [ip]:port format) are applied as "they-are" in the :authority header.
Keep in mind that [RFC3986 ](https://www.rfc-editor.org/rfc/rfc3986.html#section-3.2.2) states the following about host header:

> A host identified by an Internet Protocol literal address, version 6
>    [[RFC3513](https://www.rfc-editor.org/rfc/rfc3513)] or later, is distinguished by enclosing the IP literal
>    within square brackets ("[" and "]").

Therefore I would expect that non-rfc3986-compliant headers would lead to an error and not be propagated to :authority as part of the conversion from http1 to http2.
For your reference, [RFC7230](https://httpwg.org/specs/rfc7230.html#header.host)mentioned host header handling.

> A server MUST respond with a [400 (Bad Request)](https://httpwg.org/specs/rfc7231.html#status.400) status code to any HTTP/1.1 request message that lacks a Host header field and to any request message that contains more than one Host header field or a Host header field with an invalid field-value.

Is the current behavior intentional or is there an actual issue?
I have verified the behavior on Envoy 1.22.2


cc @soulxu 

@LithiumSR @kfaseela I tested this behavior by chaining two Envoy together, the first Envoy accept a HTTP request, then forward a http2 request to the second envoy, but it seems the header is using the format as expected.

My first envoy config is as below:
```
static_resources:
  listeners:
  - name: my_listener
    address:
      socket_address:
        protocol: TCP
        address: "::"
        port_value: 13333
    filter_chains:
    - filters:
      # The HTTP connection manager is the only network filter.
      - name: envoy.filters.network.http_connection_manager
        typed_config:
          "@type": type.googleapis.com/envoy.extensions.filters.network.http_connection_manager.v3.HttpConnectionManager
          stat_prefix: ingress_http
          route_config:
            name: local_route
            virtual_hosts:
            - name: local_service
              domains: ["*"]
              routes:
              - match:
                  prefix: "/"
                route:
                  cluster: my_cluster
          http_filters:
          - name: envoy.filters.http.router
            typed_config:
              "@type": type.googleapis.com/envoy.extensions.filters.http.router.v3.Router
  clusters:
  - name: my_cluster
    connect_timeout: 0.25s
    type: static
    lb_policy: round_robin
    protocol_selection: USE_CONFIGURED_PROTOCOL
    http2_protocol_options: {}
    load_assignment:
      cluster_name: my_cluster
      endpoints:
      - lb_endpoints:
        - endpoint:
            address:
              socket_address:
                address: "::"
                port_value: 33333

```

My second config is as below:
```
static_resources:
  listeners:
  - name: my_listener
    address:
      socket_address:
        protocol: TCP
        address: "::"
        port_value: 33333
    filter_chains:
    - filters:
      # The HTTP connection manager is the only network filter.
      - name: envoy.filters.network.http_connection_manager
        typed_config:
          "@type": type.googleapis.com/envoy.extensions.filters.network.http_connection_manager.v3.HttpConnectionManager
          stat_prefix: ingress_http
          http2_protocol_options: {}
          route_config:
            name: local_route
            virtual_hosts:
            - name: local_service
              domains: ["*"]
              routes:
              - match:
                  prefix: "/"
                route:
                  cluster: my_cluster
          http_filters:
          - name: envoy.filters.http.router
            typed_config:
              "@type": type.googleapis.com/envoy.extensions.filters.http.router.v3.Router
  clusters:
  - name: my_cluster
    connect_timeout: 0.25s
    type: static
    lb_policy: round_robin
    protocol_selection: USE_CONFIGURED_PROTOCOL
    http2_protocol_options: {}
    load_assignment:
      cluster_name: my_cluster
      endpoints:
      - lb_endpoints:
        - endpoint:
            address:
              socket_address:
                address: "::"
                port_value: 43333
```

Then I can get a log of the second envoy:

```
[2022-08-28 12:55:09.780][24102][debug][http] [source/common/http/conn_manager_impl.cc:919] [C0][S9521367370826021756] request headers complete (end_stream=true):
':authority', '[::1]:13333'
':path', '/'
':method', 'GET'
':scheme', 'http'
'user-agent', 'curl/7.58.0'
'accept', '*/*'
'x-forwarded-proto', 'http'
'x-request-id', 'af1490b9-14e4-4219-9371-eda2bf963633'
'x-envoy-expected-rq-timeout-ms', '15000'
```

@LithiumSR do you have any different config in your setup? 



There is fix related to IPv6, but I don't think that related to the behavior you met https://github.com/envoyproxy/envoy/pull/21359


Hello @soulxu 
Here are some steps to reproduce the issue with Istio 1.14.3
You can find the resources needed to perform the steps here: 
[resources.zip](https://github.com/envoyproxy/envoy/files/9445013/resources.zip)

1. Deploy Istio 1.14.3 on a IPv6 cluster (KinD is fine) via:` istioctl install --set values.global.proxy.logLevel=debug`
2. `kubectl apply -f fortio.yaml -n istio-system`
3. `kubectl apply -f fortio-gateway.yaml -n istio-system`
4. `kubectl apply -f sleep.yaml -n test`
5. Perform curl request to echo endpoint from the sleep pod.
`curl istio-ingressgateway.istio-system.svc.cluster.local/echo -v`
```
*   Trying fd00:10:96::77a7:80...
* TCP_NODELAY set
* Connected to istio-ingressgateway.istio-system.svc.cluster.local (fd00:10:96::77a7) port 80 (#0)
> GET /echo HTTP/1.1
> Host: istio-ingressgateway.istio-system.svc.cluster.local
> User-Agent: curl/7.66.0
> Accept: */*
> 
* Mark bundle as not supporting multiuse
< HTTP/1.1 200 OK
< content-length: 0
< date: Mon, 29 Aug 2022 13:20:00 GMT
< x-envoy-upstream-service-time: 24
< server: istio-envoy
< 
* Connection #0 to host istio-ingressgateway.istio-system.svc.cluster.local left intact
```

6. Do the same request now with nc. Use the non-rfc-compliant host header
```
bash-4.4# nc fd00:10:96::77a7 80
GET /echo HTTP/1.1
Host: fd00:10:96::77a7:80                

HTTP/1.1 200 OK
content-length: 0
date: Mon, 29 Aug 2022 13:24:37 GMT
x-envoy-upstream-service-time: 3
server: istio-envoy
```
8. Check debug logs to see :authority value
```
2022-08-29T13:24:37.373896Z	debug	envoy http	[C405][S1887226255136546135] request headers complete (end_stream=true):
':authority', 'fd00:10:96::77a7:80'
':path', '/echo'
':method', 'GET'
```



> 6. Do the same request now with nc. Use the non-rfc-compliant host header
> 
> ```
> bash-4.4# nc fd00:10:96::77a7 80
> GET /echo HTTP/1.1
> Host: fd00:10:96::77a7:80                
> 
> HTTP/1.1 200 OK
> content-length: 0
> date: Mon, 29 Aug 2022 13:24:37 GMT
> x-envoy-upstream-service-time: 3
> server: istio-envoy
> ```
> 

I see now, the client sends an invalid host value, then envoy doesn't validate that.



it is late for me, but I thought this https://github.com/envoyproxy/envoy/pull/22537 may fix this issue, but I can check that tomorrow

cc @RyanTheOptimist @alyssawilk 

@yanavlasov 

I would like to take up this issue. I am looking for my first PR. 


@ameypd : Thanks a lot for extending help to fix the issue. Please take a look at the comment here: https://github.com/envoyproxy/envoy/pull/22537#discussion_r964804752 . Looks like the PR already tries to address the validation. Would be great if you could double check the same, and in case it is not covered, you can try fixing the same.

@kfaseela I'll look into it, in the meantime can you assign me some other issue to work on, which can be a "good first issue".

no stalebot I am looking into this

@ameypd any update?


@kfaseela I would love teaming up with @ameypd if he's okay with it to understand the issue better... I am looking for my first PR too...

> @kfaseela I would love teaming up with @ameypd if he's okay with it to understand the issue better... I am looking for my first PR too...

That would be great! @soulxu was ready to support if you need any help in getting started

Thanks

> > @kfaseela I would love teaming up with @ameypd if he's okay with it to understand the issue better... I am looking for my first PR too...
> 
> That would be great! @soulxu was ready to support if you need any help in getting started

Thanks... So how should I get started? @soulxu 

> Thanks
> 
> > > @kfaseela I would love teaming up with @ameypd if he's okay with it to understand the issue better... I am looking for my first PR too...
> > 
> > 
> > That would be great! @soulxu was ready to support if you need any help in getting started
> 
> Thanks... So how should I get started? @soulxu

you can take a look at the steps to reproduce in the description and see the issue yourself once. Also you can reach out to us on envoy slack channels for further discussion

Alright...

I’m new to this kind of programming but i am willing to give it a shot

@haquem1 please go ahead :)

Anyone working on this issue? I am new to this project and would love start somewhere. Please assign this issue to me.



Thanks @alyssawilk!

I will try to get my local repo setup running to repro and fix the issue. This is my first time doing it, anyone willing to offer assistance with local the setup for speeding up my ramp up time, highly appreciated.

I can help with local setup. Please feel free to find me on Envoy slack.

You can develop in a container -> https://github.com/envoyproxy/envoy/blob/main/tools/vscode/README.md

Hello,
I have been looking for a good first issue to start contributing, but this one seems to be addressed by https://github.com/envoyproxy/envoy/pull/35931

Should it be closed? @alyssawilk 