ext_authz filter should allow multiple `Set-Cookie` headers to be added by the `Check` response

*Title*: ext_authz filter should allow multiple `Set-Cookie` headers to be added by the `Check` response

*Description*:

We are writing an implementation of the [ext_authz](https://github.com/envoyproxy/envoy/tree/master/test/extensions/filters/http/ext_authz)'s `Check` interface. Our implementation would like to return a `Denied` status, set the http response to be a 302, and add multiple `Set-Cookie` headers to the http response to manipulate multiple cookies.

As additional background, it is not possible in many browsers to manipulate multiple cookies in a single `Set-Cookie` header because it is disallowed by [Section 3 of RFC 6265](https://tools.ietf.org/html/rfc6265#section-3):

> Origin servers SHOULD NOT fold multiple Set-Cookie header fields into a single header field.

As a result, when given a `Set-Cookie` header of the form `Set-Cookie: a=1, b=2`, modern browsers will ignore the `b` cookie.  Instead, they need the header to be repeated like this:
```
Set-Cookie: a=1
Set-Cookie: b=2
```

So, we would like to add multiple `Set-Cookie` headers, but it seems that the `ext_authz` filter is preventing this.

Today, when multiple headers of the same name are added by the `Check` response, the ext_authz filter always only adds the last one.  You can see the relevant code in [ext_authz.cc](https://github.com/envoyproxy/envoy/blob/6def4a4a4cecdd1f54024cea6084a2bc1d9ef83d/source/extensions/filters/http/ext_authz/ext_authz.cc#L211).

It seems like the `response_headers.remove(header.first)` line is intended to satisfy the requirement described by the [OverrideEncodingHeaders unit test](https://github.com/envoyproxy/envoy/blob/6def4a4a4cecdd1f54024cea6084a2bc1d9ef83d/test/extensions/filters/http/ext_authz/ext_authz_test.cc#L1171).  However, that line of code also seems to cause it to ignore the `Check` response's intention to add multiple headers of the same name.

*Proposed Solution*:

One possible solution would be for the `ext_authz` filter to ensure that headers from the `Check` response do override existing headers, while also allowing the `Check` response to override a single existing header with multiple headers of the same name.  For example, this could be implemented in two passes: first, call `remove` on all of the headers set by the `Check` response, and then in a second pass add all of the headers set by the `Check` response. The [`addCopy`](https://github.com/envoyproxy/envoy/blob/6def4a4a4cecdd1f54024cea6084a2bc1d9ef83d/source/common/http/header_map_impl.cc#L427) method already has the smarts built-in to decide if a header with multiple values should be folded (combined into a single header with multiple values separated by commas) or should be repeated as separate headers of the same name. Specifically, the `addCopy` method is already smart enough to avoid folding `Set-Cookie` headers, which is exactly what we need.

*Relevant Links*:

- [There was a similar issue filed against Envoy](https://github.com/envoyproxy/envoy/issues/7488), but it was determined that Envoy was correctly allowing multiple `Set-Cookie` headers to be added.
- [There was also a similar issue in Istio Mixer](https://github.com/istio/istio/pull/15581) and that fix was merged.


I think the external_processor stuff in envoy is having this exact same issue. 

> I think the external_processor stuff in envoy is having this exact same issue.

@evanlurvey  Are you still experiencing the same issue with the external_processor filter? I'm planning to open an issue regarding external_processor.


@Ronnie-personal TBH I am not sure I don't work with envoy anymore. 