Automatic overwrite of date header can break downstream caches

Envoy overwrites the date header in responses in a way that can trick downstream caches into incorrectly serving expired responses or not serving fresh responses.

Background:
[RFC7231§7.1.1.2](https://httpwg.org/specs/rfc7231#header.date) Defines the date header as the date and time message origination--meaning when it was produced by the origin. HTTP caches depend on this date to determine whether a given cached response is stale or fresh.

I think we're technically compliant, because a "[transforming proxy](https://httpwg.org/specs/rfc7230.html#rfc.section.5.7.2)" has pretty wide latitude in how it transforms messages. However, "A proxy SHOULD NOT modify header fields that provide information about the endpoints of the communication chain, the resource state, or the selected representation (other than the payload) unless the field's definition specifically allows such modification or the modification is deemed necessary for privacy or security."

Overwriting the data header can cause several problems:
1. If we serve a response that was stored in a compliant upstream cache for a day, its date header will reflect that it is a day old. When we serve it (and overwrite date), we will effectively "freshen" the response by one day. Clients and downstream caches may use that incorrect date header to generate if-modified-since or if-unmodified-since headers for future requests.

2. If the origin's clock is in the future (relative to Envoy's), and the response includes a last-modified header, we may generate a response where last-modified is chronologically after date. That isn't compliant, and will confuse clients and caches.

3. Clients or downstream caches can base conditional requests on the date header we produced. If our clock and the origin's clock differ significantly in either direction, this will result in the origin evaluating those conditions by comparing a timestamp derived from our clock to a timestamp derived from the origin's clock.

Proposed remedies:

1. Envoy's default config should not modify the date header, and the bool to change that should include warnings.

When overwriting date headers is enabled, several changes could mitigate these issues. This is based on the assumption that the upstream is consistent (if its clock delta is -4days, it's always -4days).

2. When the response from upstream has an 'age' header (meaning it was cached), we should subtract that age from the current time to generate the date header. (We don't trust the date header, so let's hope we can trust the 'age' header.)

3. When the response from upstream has an 'expires' header, we should leave it alone. It probably wasn't computed from the origin's broken clock.
 
4. When the response from upstream has a last-modified header, the best approach I've been able to come up with is to offset last-modified by however much we change the date header. There will still be problems with clients and downstream caches constructing conditional requests that the origin will misinterpret, but trying to fix that seems excessive. At some point you just have to actually fix your broken origins.

These mitigations are purely the result of sitting here and thinking through the relevant caching implications, so there are probably gaps.

Thanks for opening this detailed report! cc @alyssawilk 

@htuch the proposed mittigation is basically the new "override date" header should default the other way.
given it landed yestrerday how would we feel about really quickly changing the default and runtime guarding the behavioral change?  or revert-and-reland since I'm functionally out today and maybe Monday isn't soon enough?  

(would ask that someone else revert, and will guard and reland, since home schooling time begins soon :-/ )

I assume we're talking about https://github.com/envoyproxy/envoy/pull/11077? If it's OK with the other @envoyproxy/api-shepherds and @chradcliffe I think we can do a rollback.

While the API should be stable long term, I think we can reserve the right for rollback of things within a short window. @chradcliffe would you be OK with resubmitting the PR with https://github.com/envoyproxy/envoy/issues/11110#issuecomment-625794257 in mind?

I don't mind resubmitting with the default switched and a runtime guard.

Yes perfect lets do it. I can do the revert.

Fixed.