svc with dot in end is not support in envoy

*Title*: *svc with dot in end is not support in envoy*

*Description*:
> When i use istio be my service mesh . I found when i request with url like `my-svc.my-ns.svc.cluster.local.:8081` in my pod with envoy sidecar,  the res will be 404 NR.  Please focus on the dot after `local` , it`s a way to speed up my dns resolve in k8s and its works well before i use istio(envoy). I think the conflict is between with k8s dns resolve and envoy dns resolve. 

> if i remove the dot after `local`, every thing will be ok. is there anything i missed in documents? please let me know. thanks.

<img width="1062" alt="image" src="https://user-images.githubusercontent.com/13819034/160385700-44dd3d85-23a9-4f7c-9492-1129b7440982.png">


[optional *Relevant Links*:]
>Any extra documentation required to understand the issue.


@alyssawilk hostname ending with `.`, do you think this should be truncated or preserved?

(I mean it's not necessarily the case that Envoy hosts have to abide by the hostname in the URL RFC but they're used for SNI and DNS and other things so I think they ought to, rather than doing the more complicated feature of rejecting config if we're using the hostname as a literal hostname aywhere0

I think we want [Section 3.2.2 of RFC 3986](https://datatracker.ietf.org/doc/html/rfc3986#section-3.2.2).

```
  The rightmost domain
   label of a fully qualified domain name in DNS may be followed by a
   single "." and should be if it is necessary to distinguish between
   the complete domain name and some local domain.
```

As such, I would have thought that it would be fine to have trailing dots in hostnames.

https://www.envoyproxy.io/docs/envoy/latest/search.html?q=strip_trailing_host_dot&check_keywords=yes&area=default

Is `strip_trailing_host_dot` working or not?

([bool](https://developers.google.com/protocol-buffers/docs/proto#scalar)) Determines if trailing dot of the host should be removed from host/authority header before any processing of request by HTTP filters or routing. This affects the upstream host header. Without setting this option, incoming requests with host example.com. will not match against route with [domains](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/route/v3/route_components.proto#envoy-v3-api-field-config-route-v3-virtualhost-domains) match set to example.com. Defaults to false. When the incoming request contains a host/authority header that includes a port number, setting this option will strip a trailing dot, if present, from the host section, leaving the port as is (e.g. host value example.com.:443 will be updated to example.com:443).