quic: Envoy needs to set the early-data: 1 header when forwarding requests that were received over 0-RTT

[Section 5.1 of RFC 8470](https://datatracker.ietf.org/doc/html/rfc8470#section-5.1) specifies:

>    An intermediary that forwards a request prior to the completion of
>    the TLS handshake with its client MUST send it with the Early-Data
>    header field set to "1" (i.e., it adds it if not present in the
>    request).  

We need to make sure we do this.

@danzh2010 