INVALID_HEADER_FORMAT (502) for multiline headers

*Title*: *INVALID_HEADER_FORMAT (502) for multiline headers*

*Description*:
When response header value from upstream is a multiline string, the parser fails with INVALID_HEADER_FORMAT and envoy returns with 502 to downstream. Interestingly the issue seem to happen only if the returned content is not html (but maybe the downstream in our case is not adding the header for those html pages)

*Repro steps*:
We faced the issue via istio (1.20, envoy: 1.28). In our setup we had an application pod running nginx (tested with both nginx 1.23 and 1.25) with a configuration:
```
worker_processes  auto;

error_log  /var/log/nginx/error.log warn;
pid        /tmp/nginx.pid;


events {
    worker_connections  1024;
}

http {
    proxy_temp_path /tmp/proxy_temp;
    client_body_temp_path /tmp/client_temp;
    fastcgi_temp_path /tmp/fastcgi_temp;
    uwsgi_temp_path /tmp/uwsgi_temp;
    scgi_temp_path /tmp/scgi_temp;

    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log  /var/log/nginx/access.log  main;

    sendfile        on;
    #tcp_nopush     on;

    keepalive_timeout  65;

    gzip on;
    gzip_vary on;
    gzip_min_length 256;
    gzip_proxied expired no-cache no-store private auth; 
    gzip_types
        application/javascript
        application/json
        font/woff2
        image/jpeg
        image/png
        image/svg+xml
        text/css;

    #include /etc/nginx/conf.d/*.conf;

    server {
       listen       8080;
       # https://github.com/nginxinc/docker-nginx-unprivileged/blob/2462760c14bdbf1595d58b9417c8c4c4a5e4aabf/entrypoint/10-listen-on-ipv6-by-default.sh#L57
       listen  [::]:8080;
       server_name  localhost;
       add_header Content-Security-Policy "script-src 'self';
                                           object-src 'none';
                                           base-uri 'self';
                                           connect-src 'self' https://keycloak.staging.<sanitized>;";

       location / {
           root   /usr/share/nginx/html;
           index  index.html;

           if ( $uri ~* \.html ) {
              add_header Cache-Control no-store always;
           }

           try_files $uri $uri/ /index.html;
       }

       error_page   500 502 503 504  /50x.html;
    }
}
```

*Config*:
attached

[envoy.config.txt](https://github.com/envoyproxy/envoy/files/13435730/envoy.config.txt)

*Logs*:
Sorry, I unfortunately have a screenshot only
![Screenshot from 2023-11-20 11-06-43](https://github.com/envoyproxy/envoy/assets/36858161/30467136-cdaf-4b79-a011-8fdebac11597)



cc @bencebeky @yanavlasov 

I assume the upstream protocol is HTTP/1.1. BalsaParser is now enabled by default, so I assume that's what you are using. Can you check if the issue arises when using legacy http-parser, but setting envoy_reloadable_features_http1_use_balsa_parser to false?

Can you please clarify what you mean by "header value [...] is a multiline string"? Do you mean the header value contains CR and/or LF characters? Note that this is specifically forbidden by RFC9110 Section 5.5:
https://www.rfc-editor.org/rfc/rfc9110.html#name-field-values

Hi,
> Can you check if the issue arises when using legacy http-parser, but setting envoy_reloadable_features_http1_use_balsa_parser to false?

Could you please provide me a pointer how to do that? I'd need to do this via istio...

> Can you please clarify what you mean by "header value [...] is a multiline string"? Do you mean the header value contains CR and/or LF characters? Note that this is specifically forbidden by RFC9110 Section 5.5:
https://www.rfc-editor.org/rfc/rfc9110.html#name-field-values

Yes, that's what I meant. The header value was a quoted string, which contained multiple 0x0a/LF characters and spaces (see the nginx config in the ticket). I did some checking on the RFCs, but even based on the one you've sent it seems, that at some point all iso-8859-1 characters were allowed and only later RFCs limited this to "Specifications for newly defined fields SHOULD limit their values to visible US-ASCII octets (VCHAR), SP, and HTAB". So does 'Content-Security-Policy' classify as newly defined field?

Br,
 Loci

I verified that http-parser replaces obs-fold by SP, as you suspected.

@bencebeky : thanks for checking this. Unfortunately I didn't have the time for it.
All-in-all I guess we can close this ticket with the conclusion, that the 'standard'/rfc allows the parsers two valid behaviors in case a header contains newlines and the old (http-parser) used one (replace with space), while the new (BalsaParser) follows the other allowed (reject message).

If BalsaParser is to be altered to implement the same behaviour, is up the the Envoy team to push/implement I guess. Maybe it would worth to mention this particular difference in some Envoy docs, so that it would be easier for other to find. Additionally it might help to implement: https://github.com/envoyproxy/envoy/issues/31010 and/or to explicitly log what the issue was with which header.

Thank you for reporting this issue. I changed BalsaParser to enable line folding, and added unit tests to verify that the behavior with respect to stripping CR and LF characters (but keeping space and tabs) is identical to the behavior of http-parser.

Also thanks to Yan for reviewing #31168 and marking this issue as completed.

I'd just like to thank you for implementing this to match the http-parser behavior. Keep up with the good work!