HTTP/2 field values aren't properly validated

# HTTP/2 field values aren't properly validated
[RFC 9113 Section 8.2.1](https://www.rfc-editor.org/rfc/rfc9113.html#section-8.2.1) says this:
> A field value MUST NOT start or end with an ASCII whitespace character (ASCII SP or HTAB, 0x20 or 0x09).

Varnish does not enforce this check.

## To reproduce
 - Configure Varnish with the following config file, where `PROXY_BACKEND_PLACEHOLDER` is the address of a server you control:
```
vcl 4.1;

backend default {
    .host = "PROXY_BACKEND_PLACEHOLDER";
    .port = "80";
}
```
 - Send it the following HTTP/2 request:
```
PRI * HTTP/2.0\r\n\r\nSM\r\n\r\n\x00\x00\x00\x04\x00\x00\x00\x00\x00\x00\x00E\x01\x05\x00\x00\x00\x01\x00\n:authority\tlocalhost\x00\x05:path\x01/\x00\x07:method\x03GET\x00\x07:scheme\x04http\x00\x05test1\x03\ta\t
```
 - Varnish should forward the following HTTP/1.1 request to your server:
```
GET / HTTP/1.1\r\nhost: localhost\r\nscheme: http\r\ntest1: \ta\t\r\nX-Forwarded-For: <IP OMITTED>\r\nVia: 1.1 5852af6c7656 (Varnish/trunk)\r\nAccept-Encoding: gzip\r\nX-Varnish: 32769\r\n\r\n
```
 - Note that this request contains a header value that both begins and ends with `\t`.

## Proposed fix
Respond 400, then close the stream when you receive an HTTP/2 request with a field-value that begins or ends with ASCII whitespace, as the standard requires.

CC @yanavlasov 

Some HTTP servers, including Cesanta Mongoose and HAProxy, until recently, treat an empty header name and value as the end of the headers. The combination of this bug with that one could be used to do request smuggling.

This is sort of an obscure scenario, but I think it demonstrates that it's moderately important for this bug to be patched.

I'll start working on a patch for this.

I tried the following patch, but it doesn't seem to affect the problem.
```patch
diff --git a/source/extensions/http/header_validators/envoy_default/header_validator.cc b/source/extensions/http/header_validators/envoy_default/header_validator.cc
index e492dd1ee8..ae46282331 100644
--- a/source/extensions/http/header_validators/envoy_default/header_validator.cc
+++ b/source/extensions/http/header_validators/envoy_default/header_validator.cc
@@ -239,6 +239,10 @@ HeaderValidator::validateGenericHeaderValue(const HeaderString& value) {
   const auto& value_string_view = value.getStringView();
   bool is_valid = true;

+  if (!value_string_view.empty()) {
+    is_valid &= value_string_view.front() != ' ' && value_string_view.front() != '\t' && value_string_view.back() != ' ' && value_string_view.back() != '\t';
+  }
+
   for (auto iter = value_string_view.begin(); iter != value_string_view.end() && is_valid; ++iter) {
     is_valid &= testCharInTable(kGenericHeaderValueCharTable, *iter);
   }
```
I assume this is because of whitespace stripping somewhere. Does anyone have any insight into what's going on here?

Sorry for the delay. This is definitely a non compliant behavior on the part of the current codec nghttp2.
The code you have changed is not yet active in main Envoy build, but will be EOY. I think it makes sense to fix it in the new header validator and not backport into nghttp2, as I do not think this behavior is a security concern.

You can file an issue in the nghttp2 repository and see if its maintainer will consider fixing this bug.

Also, please let us know if this bug is causing production issues for you and we can address it earlier if posible.