improper 408 http status code 

Envoy is returning 408 on lots of timeout cases. However, the 408 status code implies that [the client did not produce a request within the time that the server was prepared to wait. ](https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html)

However, even the client does deliver the full request to envoy, envoy still returns status 408.

Example: when the backend of port 9080 is httpbin on 8080
`docker run -p 8080:80 kennethreitz/httpbin`
[envoy.yaml](https://pastebin.com/WkacSQ0e)

```
curl -v --http2-prior-knowledge localhost:9080/delay/100
curl -v localhost:9080/delay/100
```

```
lambdai@lambdai:~$ curl -v localhost:9080/delay/80
*   Trying 127.0.0.1:9080...
* Connected to localhost (127.0.0.1) port 9080 (#0)
> GET /delay/80 HTTP/1.1
> Host: localhost:9080
> User-Agent: curl/7.80.0
> Accept: */*
> 
* Mark bundle as not supporting multiuse
< HTTP/1.1 408 Request Timeout
< content-length: 36
< content-type: text/plain
< date: Thu, 27 Jan 2022 22:39:43 GMT
< server: envoy
```



In this example, envoy should have recieved the full request from curl. The more reasonable response code should be "504 Gateway Timeout"

```
The server, while acting as a gateway or proxy, did not receive a timely response from the upstream server specified by the URI (e.g. HTTP, FTP, LDAP) or some other auxiliary server (e.g. DNS) it needed to access in attempting to complete the request.
```


Can you provide trace logs of the failing sequence? Envoy should not be returning a 408 if the request was fully received.

Thank you for the response

The trace log is 
https://gist.github.com/lambdai/aa2b4d8b9c0e4bffe4d08c46c628d533

Envoy binary is from image envoyproxy/envoy:v1.21.0
./envoy121  version: a9d72603c68da3a10a1c0d021d01c7877e6f2a30/1.21.0/Clean/RELEASE/BoringSSL


Another concern along with the side effect of http code 408 is to set "connection: close", or reset the connection. But I see neither.

* rfc7231:
```
6.5.7.  408 Request Timeout

   The 408 (Request Timeout) status code indicates that the server did
   not receive a complete request message within the time that it was
   prepared to wait.  A server SHOULD send the "close" connection option
   (Section 6.1 of [RFC7230]) in the response, since 408 implies that
   the server has decided to close the connection rather than continue
   waiting.  If the client has an outstanding request in transit, the
   client MAY repeat that request on a new connection.
```

* keep alive implicitly requested as the protocol is http1.1
```
$ cat delay.request | nc localhost 9080
HTTP/1.1 408 Request Timeout
content-length: 36
content-type: text/plain
date: Fri, 28 Jan 2022 21:17:20 GMT
server: envoy

upstream max stream duration reached
```

* tcp dump shows neither FIN or RST

Agree on the response code being incorrect - @lambdai you want to fix or should I add it to my queue?
Regarding response code that's an artifact of the type of timeout.  408 is request timeout and that means the full request isn't read, so you have to kill the connection (no follow-up requests allowed).  If the full request is read and and a full error response is sent, it's fine to reuse the connection for a subsequent request

cc @DavidSchinazi alternately depending on your hire's start time this would be a good intro issue

Hi @alyssawilk , are you working on this right how? 

Nope - the issue is currently unassigned

Another place to patch beyond #19975 

https://github.com/envoyproxy/envoy/blob/main/source/common/http/conn_manager_impl.cc#L786-L789

When this is fired, it's uncertain if the request is complete. I add a new state to ActiveStream::State::downstream_request_read_complete_ and it seems working.
Let me create a PR for reference... 

In https://github.com/envoyproxy/envoy/pull/20026
I add an additional flag to track if the request is complete. It is likely not the best approach.
@alyssawilk Please advice on any alternative... Thanks!


@alyssawilk Does the case that returning 504 after the header is fully read make sense?
There are quite a few false 408 right now. The client has to close the connection and establish new connection is more expensive than retry

not sure offhand which rc would be best.  cc @wrowe who may

Sorry if this comment reopens the ticket:

Shall the access log documentation be fixed for this?
Right now it is stating:
SI: Stream idle timeout in addition to **408** response code.

Sorry for the delay.  Looks like it would be more accurate to include both codes - thanks for calling that out.