CacheFilter: Upgrade GET requests whose upgrade headers are not removed should bypass the cache

CacheFilter (#7198) should bypass cache for websocket protocol requests as defined by [RFC6455§1.2](https://tools.ietf.org/html/rfc6455#section-1.2).




We don't have enough information for why this is needed at the moment. I'll close the issue.