Questions on Caching based on query param and POST requests

Title: working with query parameters and POST requests

Description:

Questions :

1. can Envoy be configured to take query parameters into account when it looks for cached document? That is, we need it to recognise the “/v2/ui/net/1/reports/discovery?limit=10" and "/v2/ui/net/1/reports/discovery?offset10&limit=10" as different requests ? 

2. can Envoy be configured to cache idempotent POST requests while taking into account request body? Some caching proxies compute hash of the POST request, using its url, some headers and the body, and then use this hash as the key to find cached documents ? 

cc @toddmgreer @jmarantz

1. Envoy's CacheFilter takes query parameters into account. “/v2/ui/net/1/reports/discovery?limit=10" and "/v2/ui/net/1/reports/discovery?offset10&limit=10" are different URLs and produce different cache keys. (envoy.extensions.filters.http.cache.v3.CacheConfig.KeyCreatorParams defines config settings to override this, but those settings aren't yet implemented.)
2. Envoy does not cache POST requests. RFC7231§4 requires that "a cache MUST write through requests with methods that are unsafe (Section 4.2.1 of [RFC7231]) to the origin server". While this does not entirely preclude caching POST messages, it does mean that a detailed design would be critically important. I'd be happy to help review such a design.