"jwt_authn" Filter Should Include a Valid www-authenticate Header

*Title*: `jwt_authn` Filter Should Include `www-authenticate` Header in 401 (Unauthorized) Responses

*Description*:
>Describe the desired behavior, what scenario it enables and how it
When the `jwt_authn` filter denies access, the 401 response does not include a
proper www-authenticate header. It should return a header following
[RFC 7235 section 3.1](https://tools.ietf.org/html/rfc7235#section-3.1). Clients many times expect
this header and will misbehave if it does not exist.

Proposed header would be of the form:
`www-authenticate: Bearer realm=<URI>`
Where `<URI>` is the original uri sent from the client.

*Relevant Links*:
https://tools.ietf.org/html/rfc7235

@qiwzhang @lizan for comments.

Yes, this is a missing feature that jwt_authn can add.

But URI is tricky to get since it could be modified by any filters.   I would propose

For request rejected by jwt_authn, add following response header,
```
if token_missing,
   `www-authenticate: Bearer`
else 
   `www-authenticate: Bearer error="invalid_token"`
```

Please assign it to me

Note that the `realm=` parameter of the `www-authenticate` value is required by the RFC. I have a draft that pulls the URI of the request in the same way the HTTP tracing filter does. I can put that up if you'd like.