Support RFC 7523 JWT tokens for OAUTH client authentication

*Title*: Support RFC 7523 JWT tokens for OAUTH client authentication

*Description*:
[RFC 7523 describes a way for applications to avoid long-lived credentials in the form of client ID/secret by using a JWT token](https://datatracker.ietf.org/doc/html/rfc7523#section-2.2):

> To use a JWT Bearer Token for client authentication, the client uses the following parameter values and encodings.
> The value of the "client_assertion_type" is "urn:ietf:params:oauth:client-assertion-type:jwt-bearer".
> The value of the "client_assertion" parameter contains a single JWT. It MUST NOT contain more than one JWT.

Concretely, this would allow using [Kubernetes service account tokens](https://kubernetes.io/docs/concepts/storage/projected-volumes/#serviceaccounttoken) to authenticate with an IdP.

/notstale

This would be really useful to eliminate yet another set of secrets requiring management. Keycloak seems to support it now.

/nostalebot

Is this not already possible using [`PRIVATE_KEY_JWT`](https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/filters/http/oauth2/v3/oauth.proto#enum-extensions-filters-http-oauth2-v3-oauth2config-authtype)?

It says 

> in credentials must contain the PEM-encoded private key used to sign the assertion, but shouldnt just setting a JWT also work?

https://github.com/envoyproxy/envoy/blob/8b54af1375662b4abfaa3c954b369d19558852b2/source/extensions/filters/http/oauth2/oauth_client.cc#L50

https://learn.microsoft.com/en-us/entra/identity-platform/v2-oauth2-client-creds-grant-flow#third-case-access-token-request-with-a-federated-credential

No, because:

> The `token_secret` in credentials must contain the PEM-encoded private key used to sign the assertion.

With RFC 7523 there is no requirement or assumption that there's any private key or self signing involved here. More generally, _any_ JWT token can be presented. This issue is about adding config for how to find that token to present.

It can be possible to use spire workload or broker api to get jwts for this purpose, or k8s psat or impersonated token as well.

> No, because:
> 
> > The `token_secret` in credentials must contain the PEM-encoded private key used to sign the assertion.
> 
> With RFC 7523 there is no requirement or assumption that there's any private key or self signing involved here. More generally, _any_ JWT token can be presented. This issue is about adding config for how to find that token to present.


So IIUC this would be not `PRIVATE_KEY_JWT` but instead [`CLIENT_SECRET_JWT`](https://developers.authlete.com/configuration-reference/endpoints/client-authentication-using-client-secret-jwt-method) (see also https://openid.net/specs/openid-connect-core-1_0.html#ClientAuthentication)

and it uses the same request parameter template as the `PRIVATE_KEY_JWT` method 

https://github.com/envoyproxy/envoy/blob/8b54af1375662b4abfaa3c954b369d19558852b2/source/extensions/filters/http/oauth2/oauth_client.cc#L48-L51

but instead of creating its own JWT with an X509 private key here with `PRIVATE_KEY_JWT` (gated by `authType() != AuthType::PrivateKeyJwt`)

https://github.com/envoyproxy/envoy/blob/v1.39.0/source/extensions/filters/http/oauth2/filter.cc#L1101-L1111

 it just sets the `token_secret` verbatim (where for example, the jwt from a projected kubernetes service account volume could be set)




> > No, because:
> > > The `token_secret` in credentials must contain the PEM-encoded private key used to sign the assertion.
> > 
> > 
> > With RFC 7523 there is no requirement or assumption that there's any private key or self signing involved here. More generally, _any_ JWT token can be presented. This issue is about adding config for how to find that token to present.
> 
> So IIUC this would be not `PRIVATE_KEY_JWT` but instead [`CLIENT_SECRET_JWT`](https://developers.authlete.com/configuration-reference/endpoints/client-authentication-using-client-secret-jwt-method) (see also https://openid.net/specs/openid-connect-core-1_0.html#ClientAuthentication)
> 
> and it uses the same request parameter template as the `PRIVATE_KEY_JWT` method
> 
> https://github.com/envoyproxy/envoy/blob/8b54af1375662b4abfaa3c954b369d19558852b2/source/extensions/filters/http/oauth2/oauth_client.cc#L48-L51
> 
> but instead of creating its own JWT with an X509 private key here with `PRIVATE_KEY_JWT` (gated by `authType() != AuthType::PrivateKeyJwt`)
> 
> https://github.com/envoyproxy/envoy/blob/v1.39.0/source/extensions/filters/http/oauth2/filter.cc#L1101-L1111
> 
> it just sets the `token_secret` verbatim (where for example, the jwt from a projected kubernetes service account volume could be set)

I agree with @michaelbeaumont (https://github.com/envoyproxy/envoy/issues/40893#issuecomment-5169556086). I don't think `CLIENT_SECRET_JWT` Client Authentication is what's requested here. `CLIENT_SECRET_JWT` requires a shared secret that is used to craft a JWT with a message authentication code (MAC) in its signature part. The proposed change does not want to _self-sign_ a JWT but send an _externally signed_ one.

As @kfox1111 already mentioned this is a new feature in Keycloak, and it's explained by them here https://www.keycloak.org/docs/latest/server_admin/#_identity_broker_kubernetes. They also briefly explain the different type of Client Credentials here https://www.keycloak.org/docs/latest/server_admin/#_client-credentials (where `Signed JWT` is `PRIVATE_KEY_JWT` and `Signed JWT with Client Secret` is `CLIENT_SECRET_JWT`).

_PS: I think it would be nice to have support for both features, `CLIENT_SECRET_JWT` and allowing an external JWT._

Yes, [CLIENT_SECRET_JWT](https://developers.authlete.com/configuration-reference/endpoints/client-authentication-using-client-secret-jwt-method#requirements-for-client_secret_jwt) is not right either:

> 	[REQUIRED] Issuer. This must contain the client_id of the OAuth client.

The issuer here _is an external issuer_, like the Kubernetes API server.

It's very simple, simpler in fact than both PRIVATE_KEY_JWT and CLIENT_SECRET_JWT. We are simply delegating verification of our own identity to a _second_ issuer. Whoever we are authenticating with uses _that_ issuer to verify our identity.

So this would be OIDC non compliant IIUC since its not listed under Client Authentication (https://openid.net/specs/openid-connect-core-1_0.html#ClientAuthentication)

Would we still use the `CLIENT_SECRET_JWT` AuthType and the flow I described above?


Also i wonder how (and if!) other OIDC IDPs (besides Keycloak)  are supporting this use case

I mean it's compliant with RFC 7523. This isn't strictly OIDC. It's also known as "workload identity" or "federated workload identity". Microsoft Entra supports it, Google Cloud, Pocket ID support it. Grafana supports this (for authenticating itself of course).

> Would we still use the `CLIENT_SECRET_JWT` AuthType and the flow I described above?

I wouldn't call this `CLIENT_SECRET_JWT`, because that name refers to what the OIDC spec has defined.

Maybe `CLIENT_ASSERTION`?

If we then use the existent `token_secret` to pass the JWT, we would only allow this to work with [RFC 7523](https://www.rfc-editor.org/info/rfc7523/#section-2.2) but not [RFC 7522](https://www.rfc-editor.org/info/rfc7522/#section-2.2). So I would suggest something like this in the `OAuth2Credentials` config to have it assertion-format agnostic ([RFC 7521](https://www.rfc-editor.org/info/rfc7521/#section-4.2)):

```
client_assertion:
  assertion: ...
  type: JWT
```

