CacheFilter: Support customizing whether to cache responses with no cache-control directives

[RFC7231§6.1](https://httpwg.org/specs/rfc7231.html#overview.of.status.codes) permits caching some responses to GET/HEAD requests without explicit cache-related headers, depending on the status code. To prevent unpleasant surprises, it should be configurable whether CacheFilter (#7198) caches such responses or whether it requires a positive indication of cacheability.