Envoy emitting a cluster.upstream_cx_protocol_error metric for a 304 response with body, but not rejecting the response?

Envoy version: 1.11.2

A service in one of our clusters was returning an invalid 304 response with body (which should not happen, according to [RFC 7230 section 3.3](https://tools.ietf.org/html/rfc7230#section-3.3)). What we found curious was that Envoy was not rejecting the response, but emitting a `cluster.upstream_cx_protocol_error` coming from, we think, [this function](https://github.com/envoyproxy/envoy/blob/86420eb64a750fd6025cf5efc8b846c8fe63f0c9/source/common/http/codec_client.cc#L139).

We were honestly expecting Envoy to reject the response in this case, given other cases of Envoy being very strict with the interpretation of the RFC (like [this one](https://github.com/envoyproxy/envoy/issues/9016) a colleague of mine found some weeks ago). Any reason why that's not the case?


@alyssawilk any idea on this one?

@yanavlasov will take a look.

@yanavlasov this went stale over the break.   is this something you think you can pick up in January, or should I snag it?

I believe @yashengy is picking this up

Having looked into this a bit, I suspect what was happening here is the 304 was being forwarded with the content length, the connection was getting returned to the pool, then the body was being treated as unexpected data on an unassigned connection and triggering the error.

Unfortunately I'm not really sure we can do much better here.  We can arguably reject 304-with-non-zero-content-length but my reading of the spec doesn't make that the clearly correct thing to do, and nghttp2 allows 304-with-content-length as long as there's no body so there would be an inconsistency there.  Unfortunately we can't really be consistent between HTTP/1 and HTTP/2 because if we tell http_parser to not pause at end of headers for HTTP/1 304s-with-content-length then we never get onMessageComplete for folks who potentially send a content length and no body.

I'm inclined to just test (and document) our existing behavior and flag this WAI.  @mattklein123 @PiotrSikora  WDYT?

> I'm inclined to just test (and document) our existing behavior and flag this WAI. @mattklein123 @PiotrSikora WDYT?

SGTM

Per [RFC7230, sec. 3.2.2](https://tools.ietf.org/html/rfc7230#section-3.3.2):

> A server MAY send a Content-Length header field in a 304 (Not
> Modified) response to a conditional GET request (Section 4.1 of
> [RFC7232]); a server MUST NOT send Content-Length in such a response
> unless its field-value equals the decimal number of octets that would
> have been sent in the payload body of a 200 (OK) response to the same
> request.

and [sec. 4.1](https://tools.ietf.org/html/rfc7232#section-4.1):

> A 304 response cannot contain a message-body; it is always terminated
> by the first empty line after the header fields.

i.e. `Content-Length` header is perfectly fine, as long as the body isn't sent.

Ah nice, so it is clear.
The problem is there's really not a great way to tell http parser we're done with the message but want to reset stream on incoming bytes, so I think we should preserve existing behavior (but I'll update my test comments thanks to Piotr's pointers)