Oauth2 filter: Support private_key_jwt in addition to token_secret

*Title*: Oauth2 filter: Support `private_key_jwt` in addition to token_secret

*Description*:
Some IdPs encourage/enforce use of `private_key_jwt` in favor of client secret for client authentication per recommendation in RFC9700. Oauth2 filter does not support this yet.

*Relevant Links*
* [RFC 9700 section 2.5 Client Authentication](https://www.rfc-editor.org/rfc/rfc9700#name-client-authentication)
* [Description of private_key_jwt flow](https://www.authlete.com/kb/oauth-and-openid-connect/client-authentication/client-auth-private-key-jwt/)



sounds reasonable.

cc @bplotnick 