CacheFilter: Refuse to cache requests with authorization headers

CacheFilter (#7198) must bypass cache for requests with authorization headers. This must be fixed before CacheFilter can be appropriate for production deployment.

[(RFC7234§3)](https://httpwg.org/specs/rfc7234.html#response.cacheability) does permit caching responses to such requests when the response includes a cache-control header. However, this is not worth implementing unless someone expresses a need.