H/2 header validation error handling is not RFC compliant

Per [RFC 7540 section 8.1.2.6](https://datatracker.ietf.org/doc/html/rfc7540#section-8.1.2.6) header validation errors are stream level errors. However Envoy's behavior is configurable and by default such errors are treated as connection level errors.

**Proposal:** always treat H/2 header validation errors as stream errors per RFC. This change will be flag protected and eventually deprecated per Envoys' breaking change policy.

The following errors would be affected:

1. Header name character set, including requirement for lowercase characters
2. Header value character set
3. Absence of required pseudo headers in request or response
4. Presence of prohibited headers in request or response

Note that this will not have effect on H/1 codec since stream reset in this case would result in termination of the connection anyway.