Should empty HTTP header values be allowed?

Should empty HTTP header values be allowed?

Trying to append an empty header value to an inlined header ends up doing nothing.
(https://github.com/envoyproxy/envoy/blob/master/source/common/http/header_map_impl.cc#L300-L302)

So a list of headers like `[('inlined_key','a'), ('inlined_key',''), ('inlined_key,'b')]` becomes `inlined_key: a,b`. (This doesn't happen for non-inlined headers.) 

But I'm not sure empty headers are disallowed. Here's a [StackOverflow post from 2012 which cites RFC2616 Sec2.1](https://stackoverflow.com/a/12131993). 

Thoughts?

Possibly related to:
 -  Issue #2004: Envoy inline headers do not support appending values
 -  PR #3560: headers: Fixing addCopy and addViaMove for multiple inline headers

@alyssawilk @PiotrSikora 

Empty headers are being allowed, by they are being folded, and the empty one is being dropped. I'm not sure how to handle empty headers during folding. The fix is likely simple.

I have interest in reviving @ambuc's PR - this can lead to surprising behavior when using `request_headers_to_add` with a variable, e.g.
```
                    - header:
                        key: x-foobar
                        value: '%REQ(x-bizbaz)%`
                      append: false
```
I would expect `x-foobar` to be zero'd out if `x-bizbaz` is not present, but since we ignore empty headers `x-foobar` can be overridden by any incoming request if `x-bizbaz` is not set, e.g.
```
GET / HTTP/1.1
x-foobar: override
```

No objections, though I don't think we had any of the spec experts weigh in: @PiotrSikora @DavidSchinazi 
If we do revive, we should runtime guard though.

Empty HTTP header field values are allowed as per [Section 3.2 of RFC 7230](https://datatracker.ietf.org/doc/html/rfc7230#section-3.2).

Sweet. feel free to revive/runtime-guard/release-note and send it my way :-)

They are unfortunately allowed, and I believe that the only reason why is that the empty `Accept-Encoding` header has a special meaning. From [RFC7231, sec. 5.3.4](https://tools.ietf.org/html/rfc7231#section-5.3.4):
```
   An Accept-Encoding header field with a combined field-value that is
   empty implies that the user agent does not want any content-coding in
   response.
```

A possible alternative solution to my concern could be adding something like a `protected` boolean attribute to `HeaderValueOption`such that if one tries to set it to an empty value, it still gets stripped but cannot be set by the downstream request either. It'd be a reduced blast radius, but a bit clunky in the API imo.

I don't know what kind of headaches empty header values can cause 😄 (but runtime-guarded as mentioned)

@alyssawilk Do browsers ever actually send an empty `Accept-Encoding` header?  If nobody (other than attackers) uses empty header values, it would make sense to just block them.